.footer {
  padding: 2rem 0;
  font-family: var(--ff-secondary);
  color: var(--white);
  background-color: var(--bg-accent);

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;

    & + .footer__row {
      margin-top: 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    & + .footer__item {
      margin-top: 2rem;
    }
  }

  &__logo {
    text-align: center;
    font-size: var(--fs-xl);
  }

  &__contacts {
    margin-top: 2rem;
  }


  &__socials {
    margin-top: 1rem;

    .socials__list {
      justify-content: center;
    }

    .socials__link {
      color: var(--white);
    }
  }

  &__privacy {
    @extend .link;

    display: inline-block;
    line-height: 1;
    margin-top: 2rem;
    border-bottom: 1px solid var(--white);
    transition: opacity ease-out-quint 0.3s;
    align-self: flex-start;
    opacity: 1;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &__copyright {
    @extend .hyphens;

    margin-top: 1rem;
  }

  &__developer {
    margin-top: 1rem;
  }

  @media(--tablet) {
    &__row {
      flex-direction: row;
      align-items: normal;
      justify-content: flex-start;

      .footer__item {
        & + .footer__item {
          margin-top: 0;
          margin-right: 2.5rem;
        }
      }
    }

    &__logo {
      text-align: left;
    }

    &__socials {
      .socials__list {
        justify-content: flex-start;
      }
    }

    &__contacts {
      margin-top: 1rem;
    }

    &__privacy {
      margin-top: 1rem;
    }
  }

  @media(--laptop) {
    font-size: var(--fs-xs);

    &__item {
      &:last-child {
        flex: 0 0 50%;
      }
    }

    &__logo {
      font-size: var(--fs-default);
    }

    &__socials {
      .socials__list {
        justify-content: flex-start;
      }

      .socials__link {
        transition: opacity ease-out-quint 0.3s;

        &:hover,
        &:focus {
          opacity: 0.8;
        }
      }
    }

    &__privacy {
      transition: border-color ease-out-quint 0.3s;

      &:hover,
      &:focus {
        color: var(--white);
        border-color: currentColor;
      }
    }

    &__copyright {
      font-size: var(--fs-xxs);
      max-width: 35rem;
    }

    &__developer {
      margin-top: 1.5rem;
      flex: 0 0 auto;
      font-size: var(--fs-xxs);
    }
  }
}