.pricing {
  &__form {
    margin: 0 auto;
    max-width: 21rem;
  }

  &__tabs {
    margin-top: 2.5rem;
  }

  &__widget {
    margin-top: 2.5rem;
  }

  @media(--tablet) {
    &__form {
      padding: 1.25rem 1.25rem 1.5rem;
    }
  }

  @media(--laptop) {
    &__grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__tabs {
      margin: 0;
      flex: 1 1 40%;
    }

    &__form {
      margin-left: 3rem;
      order: 2;
      padding: 1.25rem 1.25rem 1.5rem;
      flex: 0 0 auto;
    }

    &__widget {
      order: 3;
      flex: 1 0 100%;
    }
  }
}