.recreation {
  &__methods {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media(--tablet) {
    &__methods {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 -1.5rem -2.5rem;

      & > .media {
        margin-bottom: 2.5rem;
        flex: 0 0 50%;
        padding: 0 1.5rem;

        & + .media {
          margin-top: 0;
        }
      }
    }
  }

  @media(--desktop) {
    &__methods {
      margin-bottom: -3rem;

      & > .media {
        flex: 0 0 33%;
        margin-bottom: 3rem;
      }
    }
  }
}