<section class="section call-to-action">
  <div class="section__cover">
    {{ picture('Иллюстрация', 'section__cover-img', 'img/illustrations/illustration2', 'png') }}
  </div>

  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center">
      Оставь смартфон, зарядись в путешествиях!
    </h2>
  
    <p class="call-to-action__text">Только представь, сколько времени, денег и сил ушло бы на подготовку такого путешествия? Мы это сделали за тебя!</p>

    <button class="call-to-action__button button button--primary button--uppercase button--bold" @click="toggleModal('form')">Хочу в Мексику</button>
  </div>
</section>