<section class="section call-to-action">
  <div class="section__cover">
    {{ picture('Иллюстрация', 'section__cover-img', 'img/illustrations/illustration2', 'png') }}
  </div>

  <div class="container">
  
    <p class="call-to-action__text">
      Только представь, сколько времени, денег и сил<br>
      ушло бы на подготовку такого путешествия?<br>
      Мы это сделали за тебя!
    </p>

    <h2 class="call-to-action__slogan heading heading--h3 heading--uppercase heading--text-center">
      Оставь смартфон, зарядись в путешествиях!
    </h2>
  </div>
</section>