<section class="cover" id="top">
  <div class="container">
    <div class="cover__bg">
      <div class="cover__bg-wrap" v-if="screenWidth >= 768">
        {{ picture('Авторский энерджи-тур в Мексику', 'cover__bg-img', 'img/illustrations/illustration1', 'png') }}
      </div>
    </div>

    <div class="cover__content">
      <div class="cover__time">
        <span class="label label--uppercase">НОЯБРЬ 2019</span>
        <span class="label label--uppercase">ЯНВАРЬ 2020</span>
      </div>

      <h1 class="cover__heading heading heading--h1">Авторский энерджи-тур в Мексику</h1>

      <div class="cover__desc">
        Повысь жизненный тонус на <span class="label label--bold">110%</span> за <span class="label label--bold">14 дней</span> в улетном путешествии
      </div>

      <div class="cover__video">
        <button class="toggle toggle--video" aria-label="Посмотреть видео" @click="toggleModal('video')">
          <div class="toggle__img-wrap">
            {{ picture('Видео', 'toggle__img', 'img/cover/play-btn', 'jpg') }}
          </div>
          {{ icon('play', 'toggle__icon') }}
        </button>
      </div>

      <button type="button" class="cover__button button button--primary button--uppercase button--bold" @click="toggleModal('form')">
        Как возобновить энергию
      </button>
    </div>

    {% set features = [
      { icon: 'bolt', title: "Энергетические практики" },
      { icon: 'map', title: "Сюрреалистический маршрут" },
      { icon: 'smile', title: "Живой нетворкинг" }
    ] %}
    <div class="cover__features panel panel--padding-sm">
      {% for feature in features %}
        <div class="feature">
          <div class="feature__img">
            {{ icon(feature.icon, 'feature__icon') }}
          </div>

          <p class="feature__text">
            {{ feature.title }}
          </p>
        </div>
      {% endfor %}
    </div>

    <div class="cover__text-block text-block">
      <div class="text-block__pic">
        {{ icon('directions', 'text-block__pic-icon') }}
      </div>

      <p class="text-block__text" id="energy">Если не отдыхать, то организм будет использоваться на износ.</p>

      <p class="text-block__text">Если за короткий отдых подвергнуть себя резкому удару солнечных лучей, разлагающих напитков или сбить режим сна, то эффект также будет губительным.</p>

      <p class="text-block__text">Однако, если же учесть законы восстанавливающего путешествия и поднять уровень эндорфинов и серотонина, то за 14 дней можно получить мощный заряд сил на целых полгода.</p>
    </div>
  </div>
</section>