<section class="section faq">
  <div class="section__cover">
    {{ picture('Иллюстрация', 'section__cover-img', 'img/illustrations/illustration3', 'png') }}
  </div>

  <div class="container" id="faq">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center">
      Часто задаваемые вопросы
    </h2>

    {% set whattoknow = [
      {
        icon: 'flag-alt',
        title: 'Язык',
        desc: 'Основной язык – Испанский. Но также среди местного населения присутствует множество индейских диалектов. '
      },
      {
        icon: 'institution',
        title: 'Религия',
        desc: 'В Мексике нет официальной государственной религии, страна открыта в религиозном плане. Но наиболее распространенная религия – католицизм.'
      },
      {
        icon: 'money',
        title: 'Валюта',
        desc: 'Мексиканский песо. Во многих туристических зонах принимается к оплате также Американский доллар. Курс доллара на данный момент равен прибл. 18 песо за 1 доллар. В Мехико сити рекомендуется менять доллары в аэропорту. В Канкуне и на Ривьере Майя, наоборот, рекомендуется менять валюту в городе в обменных пунктах (в аэропорту курс выше всегда). '
      },
      {
        icon: 'thermometer',
        title: 'Климат',
        desc: 'Тропический на юге и субтропический на севере. Температура зависит от региона. Климат приятный. Высокий пляжный сезон на побережье приходится на период с декабря по апрель. На Карибском побережье сезон длится круглый год, море теплое всегда. С сентября по начало ноября – сезон небольших ветров и дождя. В ноябре температура по нашему маршруту от 22°С до 28°С, в январе от 21°С до 26°С, ночью в Мехико может упасть до +7°С.'
      },
      {
        icon: 'bus',
        title: 'Транспорт',
        desc: 'В Мексике действует большая разветвленная сеть внутренних недорогих авиаперевозчиков. Хорошо развито междугороднее автобусное сообщение. Автобусы чистые, комфортные и ходят по расписанию. Железнодорожное сообщение не развито в стране.'
      },
      {
        icon: 'dish',
        title: 'Кухня',
        desc: 'Очень часто в блюдах присутствуют три компонента - острый перец чили, тортильяс (кукурузные лепешки) и фасоль или рис. Много мясных блюд (говядина, свинина, курица, баранина) и острых овощных, рыбы, морепродуктов, бобовых, специй. В Мексике много фруктов и овощей в течение всего года. Многие блюда готовятся на основе разного вида соусов как острых, так и не острых.'
      },
      {
        icon: 'water',
        title: 'Вода',
        desc: 'Основной язык – Испанский. Но также среди местного населения присутствует множество индейских диалектов. '
      },
      {
        icon: 'wallet',
        title: 'Чаевые',
        desc: 'Общепринятая норма – оставлять 10-15% от стоимости заказа. Чаевые принято оставлять всему обслуживающему персоналу, в том числе гиду и водителю. Это не обязательно, но всегда приветствуется (дело в том, что в Мексике очень низкие зарплаты в сфере обслуживания и люди этой занятности, в основном, живут на заработанные чаевые).'
      },
      {
        icon: 'bolt',
        title: 'Электричество',
        desc: 'Напряжение электросети в Мексике составляет 110 Вольт. Розетки «американского» стиля. Обязательно берите с собой адапторы для телефонов, видео камер и т.п.'
      },
      {
        icon: 'error-circle',
        title: 'Таможня',
        desc: 'Запрещен ввоз фруктов, овощей, мясных, молочных и рыбных изделий, растений, черенков и семян растений, цветов; медикаментов, которыми не пользуется пассажир; психотропных веществ; порнографических изданий.'
      }
    ] %}
    <ul class="faq__list">
      <li class="faq__item">
        <accordion-component inline-template>
          <div class="accordion" :class="{ 'js-active': isCollapsed }">
            <button
              class="accordion__heading heading heading--h5"
              :class="{ 'js-active': isCollapsed }"
              @click="collapseBlock"
            >
              Что нужно знать о Мексике
            </button>

            <div class="accordion__content" ref="collapse">
              <div class="accordion__content-inner">
                <ul class="list-block">
                  {% for item in whattoknow %}
                    <li class="list-block__item">
                      <div class="media">
                        {{ icon(item.icon, 'media__icon') }}
                        <p class="media__title heading heading--h5">{{ item.title }}</p>
                        <p class="media__desc">{{ item.desc }}</p>
                      </div>
                    </li>
                  {% endfor %}
                    <li>
                      <div class="media">
                        <p class="media__title">
                          <span class="label label--bold">Важно</span>
                        </p>
                        <p class="media__desc">Разрешено ввозить только 20 пачек сигарет на человек, при обнаружении большего количества полагается штраф.</p>
                      </div>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </accordion-component>
      </li>
      <li class="faq__item">
        <accordion-component inline-template>
          <div class="accordion" :class="{ 'js-active': isCollapsed }">
            <button
              class="accordion__heading heading heading--h5"
              :class="{ 'js-active': isCollapsed }"
              @click="collapseBlock"
            >
              Про безопасность
            </button>

            <div class="accordion__content" ref="collapse">
              <div class="accordion__content-inner">
                <p>
                  В крупных городах Мексики и во всех курортных зонах безопасность туристов обеспечивается на высоком уровне. Мы можем спокойно перемещаться по отельной и туристической зоне. 
                <p>
                <p>
                  Сумки с ценностями, деньгами и документами обязательно держать при себе и всегда на виду, прижимать сумки крепко к себе. Распространены случаи банальных карманных краж среди туристов. 
                </p>
                <p>
                  Не рекомендуется выезжать в незнакомые районы без сопровождения и также не рекомендуется находиться в темное время суток в безлюдных местах. 
                </p>
                <p>
                  Такси рекомендуется брать только с официальных стоянок («sitios»). Рекомендуется заказывать такси по телефону, получив все данные о машине и водителе от диспетчера. 
                </p>
                <p>
                  Ездить лучше по платным («cuota») дорогам - они более безопасны. Туристам рекомендуется совершать поездки на автомобиле, автобусе и поездах в дневное время суток, что мы и будем делать.
                </p>
              </div>
            </div>
          </div>
        </accordion-component>
      </li>
      <li class="faq__item">
        <accordion-component inline-template>
          <div class="accordion" :class="{ 'js-active': isCollapsed }">
            <button
              class="accordion__heading heading heading--h5"
              :class="{ 'js-active': isCollapsed }"
              @click="collapseBlock"
            >
              Как получить визу
            </button>

            <div class="accordion__content" ref="collapse">
              <div class="accordion__content-inner">
                <p>
                  В 2019 году для граждан РФ получение мексиканской визы не требуется, требуется оформить электронное разрешение (SAE – Sistema de Autorización Electrónica), по которому можно однократно въехать в Мексику в течение 30 дней после его выдачи и срок пребывания не должен превышать 180 дней. Получаем его бесплатно из любой точки планеты максимум в течение 30 мин. Таким образом для тура с 09 ноября 2019 необходимо подавать заявку на разрешение с 14 октября 2019, для тура с 28 декабря 2019 разрешение получаем после 02 декабря 2019. Для оформления достаточно заполнить анкету <a href="https://embamex.sre.gob.mx/rusia/index.php/ru/component/content/article/183" target="_blank" rel="nofollow">на сайте</a> Посольства Мексики в Москве, распечатать и взять с собой полученное разрешение.
                </p>
                <p>
                  Для помощи в заполнении анкеты, а также для индивидуальной проработки визового вопроса, пожалуйста, свяжитесь <a href="#contacts" data-smooth>с нами</a>.
                </p>
              </div>
            </div>
          </div>
        </accordion-component>
      </li>
      <li class="faq__item">
        <accordion-component inline-template>
          <div class="accordion" :class="{ 'js-active': isCollapsed }">
            <button
              class="accordion__heading heading heading--h5"
              :class="{ 'js-active': isCollapsed }"
              @click="collapseBlock"
            >
              Зачем нужна страховка
            </button>

            <div class="accordion__content" ref="collapse">
              <div class="accordion__content-inner">
                <p>
                  Медицинская страховка для поездки в Мексику не является обязательной. Не обязательно покупать полис, чтобы получить разрешение на въезд. Это необходимо сделать для того, чтобы обеспечить свою безопасность при непредвиденных ситуациях. Покупка страхового полиса позволит тебе сохранить свои нервы, драгоценное время и вовремя получить медицинскую помощь, при этом ты не несешь больших материальных затрат.
                </p>
                <p>
                  При покупке страхового полиса обязательно обрати внимание на следующие крайне важные нюансы:
                </p>
                <ul class="list list--ul">
                  <li>Срок полиса;</li>
                  <li>Лимит страхового покрытия;</li>
                  <li>Размер выплат при возникновении страхового случая.</li>
                </ul>
                <p>
                  По возможности, включи в страховой полис такие риски, как кража багажа, утрата документов и необходимость в услугах квалифицированного юриста.
                </p>

                <h5 class="heading heading--h5">
                  Сколько стоит страховка для путешественника? 
                </h5>
                <p>
                  Стоимость страхового полиса (ВЗР) зависит от страны пребывания, срока страхования, перечня медицинских услуг, необходимости включения дополнительных опций, к примеру стоматологии. 
                </p>

                <h5 class="heading heading--h5">
                  Где можно купить страховку?
                </h5>
                <p>
                  При помощи нашего партнера Aviasales ты можешь:
                </p>
                <ol class="list list--ol">
                  <li>Самостоятельно подобрать для себя подходящий полис ВЗР: по стоимости, набору страховых рисков </li>
                  <li>Выбрать страховую компанию из широкого перечня: Ренессанс, Росгосстрах, Согласие, ВСК, Сбербанк Страхование, УралСиб Страхование и др.</li>
                  <li>Включить в страховку дополнительные услуги по страхованию: потеря багажа, стоматологические услуги, гражданская ответственность, отмена поездки и др.</li>
                  <li>Оформление страхового полоса ВЗР делается в течение 20-ти минут</li>
                </ol>

                <h5 class="heading heading--h5">
                  Можно ли обойтись без оформления страховки?
                </h5>
                <p>
                  Если ты не желаешь оформлять полис страхования, то будешь обязан предоставить выписку банковского счета о наличии нужной суммы денег, которая может тебе потребоваться при необходимости лечения. 
                </p>
                <p>
                  Оформление полиса ВЗР - это возможность наслаждаться отдыхом, и не думать о непредвиденных расходах в случае форс-мажора со здоровьем.
                </p>
              </div>
            </div>
          </div>
        </accordion-component>
      </li>
      <li class="faq__item">
        <accordion-component inline-template>
          <div class="accordion" :class="{ 'js-active': isCollapsed }">
            <button
              class="accordion__heading heading heading--h5"
              :class="{ 'js-active': isCollapsed }"
              @click="collapseBlock"
            >
              Как подготовиться к поездке
            </button>

            <div class="accordion__content" ref="collapse">
              <div class="accordion__content-inner">
                <p>Взять с собой:</p>
                <ul class="list list--ul"> 
                  <li>Крем от загара с защитой минимум 50 SPF</li>
                  <li>Шляпы с полями, кепки, косынки</li>
                  <li>Легкую одежду из натуральных тканей для дневной температуры от 22°С до 28°С</li>
                  <li>Теплую одежду для ночной температуры в районе Мехико +7°С</li>
                  <li>Кроссовки, либо другую удобную закрытую обувь</li>
                  <li>Аптечку с минимальными необходимыми лекарствами (антибиотики в Мексике можно приобрести только по рецепту врача, лучше запастись необходимым заранее)</li>
                  <li>Адаптеры для зарядки телефонов, фотокамер, планшетов и т.п.</li>
                  <li>Деньги в $ для обмена на карманные песо</li>
                  <li>Сумку (рюкзак) для минимально необходимых вещей на экскурсиях</li>
                </ul>

                <div class="media">
                  <p class="media__title">
                    <span class="label label--bold">Важно</span>
                  </p>
                  <p class="media__desc">Связь на протяжении маршрута может быть не стабильной или вовсе отсутствовать, но во всех отелях будет бесплатный wi-fi, а также банкоматы для снятия наличных в песо</p>
                </div>
              </div>
            </div>
          </div>
        </accordion-component>
      </li>
    </ul>
  </div>
</section>