<section class="section feedback" id="feedback">
  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center heading--has-action">
      Отзывы
    </h2>

    <div class="feedback__row">
      <article-component inline-template>
        <article class="article">
          <div class="article__img-wrap">
            {{ picture('Bondarenko Nataly', 'article__img', 'img/feedback/bondarenko_nataly', 'jpg') }}
          </div>

          <div class="article__header">
            <p class="article__heading">Bondarenko Nataly</p>
          </div>

          <div class="article__content" ref="collapse">
            <div class="article__content-inner" :class="{ 'js-active': isCollapsed }">
              <p>
                В июле планировали 5-ти дневный тур по Юкатану семьей. Гидов на выбор было несколько, но так случилось, что остановились на Алине - изначально привлекла стоимость тура. И, признаюсь, немного волновались... Но что могу сказать - ни разу не пожалели о выборе! Алина большая умница! Отработала все 5 дней на полную катушку! Интересный, знающий, начитанный гид. Пять дней пути и 2600 км дороги, при том что с нами был 9-ти летний ребенок... Однако! В очередной раз убедилась, как же много зависит от гида! За эти долгие часы пути и непрерывного общения, нам удалось так много поговорить о стране, ее истории, культуре, характере, обычаях, загадках, и много о чем еще, чего не прочтешь ни в одном общедоступном путеводителе и источнике, что непременно захотелось вернуться, но только теперь уже не на Юкатан, конечно, а в центральную часть Мексики, и в несколько ином формате)). И непременно с этим гидом! Алиночка, приогромное спасибо вам! И до новых встреч!)
              </p>
            </div>
          </div>

          <button class="article__button button button--inline" @click="collapseBlock">{{ "{{ isCollapsed ? 'Скрыть' : 'Подробнее' \}}" | safe }}</button>
        </article>
      </article-component>

      <article-component inline-template>
        <article class="article">
          <div class="article__img-wrap">
            {{ picture('Ushakov Artem', 'article__img', 'img/feedback/ushakov_artem', 'jpg') }}
          </div>

          <div class="article__header">
            <p class="article__heading">Ushakov Artem</p>
          </div>

          <div class="article__content" ref="collapse">
            <div class="article__content-inner" :class="{ 'js-active': isCollapsed }">
              <p>
                Алина, огромное спасибо за те несколько дней, что мы провели с Вами в путешествии по удивительной Мексике. 
                К выбору гида всегда подхожу с особой трепетностью и тщательностью (ведь во многом именно от него как от проводника в культуру, быт страны зависит и впечатление о путешествии). Поэтому, "перелопатив" огромное количество предложений в Интернете, выбрал Алину как человека, который, как показалось, наиболее полно и, что немаловажно, интересно может донести информацию о тех местах, где мы планировали побывать. И жалеть об этом не пришлось ни разу.
              </p>
              <br/>
              <p>
                Все дни мы передвигались на комфортабельном внедорожнике. Весь путь Алина как кладезь знаний с упоением рассказывала нам о многих аспектах Мексики. Что поразило, знания не были однобокими (как это часто бывает, когда человек увлекается каким-то определённым направлением в изучаемом предмете), а были синтезом из множества разных сфер: истории, философии, теологии, эзотерики. При этом она отлично владеет несколькими языками (так что если беспокоитесь насчёт того, как будете объясняться с местными - не переживайте). 
                За несколько дней мы посетили: Эк-Балам, Чичен-Ицу, красивейший сенот, аутентичные мексиканские городки Мериду и Кампече (в которых у нас было полно времени, чтобы погулять, сделать покупки, отведать местной кухни), Ушмаль, райский уголок Селестун (заповедник фламинго, он настолько красив, что оказываешься буквально в раю - птицы там себя чувствуют комфортно (и далеко не только фламинго), летают и гнездятся прямо рядом с тобой, что ты буквально можешь прикоснуться ко всей этой красоте, которая словно сошла с картинки и оказалась у тебя перед глазами; в более чем часовом индивидуальном путешествии на лодке мы также смогли наблюдать крокодилов (которых попалось аж три особи), симпатичные мангровые заросли), две испанские асьенды (в которых сохранились предметы быта, искусства, промышленности колониальных времён) и многое другое. <br/>
                Такое путешествие запомнится надолго. 
              <p>
              <br/>
              <p>
                Отдельное спасибо хочу выразить Давиду (который был водителем на всём протяжении нашего пути). Ни одной аварийной ситуации, отличное знание местности и дорог, а также особо чуткое отношение к нам как к туристам (всегда беспокоился, чтобы нам было удобно, комфортно). David, muchas gracias por esa actitud devote! (надеюсь, правильно написал)<br/>
                Организация тура - высший класс. Так что рекомендую. Поверьте, есть с чем сравнивать, и на этом туре был действительно высокий уровень планирования и тайминга маршрута, информации о стране, интересная её подача (очень живо, эмоционально, что буквально заряжаешься любовью к Мексике), а также пунктуальность и забота как о членах своей семьи! <br/>
                Очень надеюсь, что мы ещё вернёмся и отправимся в следующее приключение с вами, Алина и Давид! :-)
              </p>
            </div>
          </div>

          <button class="article__button button button--inline" @click="collapseBlock">{{ "{{ isCollapsed ? 'Скрыть' : 'Подробнее' \}}" | safe }}</button>
        </article>
      </article-component>

      <article-component inline-template>
        <article class="article">
          <div class="article__img-wrap">
            {{ picture('Kovaleva Julia', 'article__img', 'img/feedback/kovaleva_julia', 'jpg') }}
          </div>

          <div class="article__header">
            <p class="article__heading">Kovaleva Julia</p>
          </div>

          <div class="article__content" ref="collapse">
            <div class="article__content-inner" :class="{ 'js-active': isCollapsed }">
              <p>
                Мы с мужем ездили на 2 индивидуальные экскурсии с Алиной. Первая наша поездка была, скорее, телесно и духовно ориентированная, в Темаскаль - индейскую сауну. Здесь с помощью Алины мы окунулись в глубокую и эзотерическую традицию древних индейцев, которые воспринимают обряд сауны как перерождение и очищение. Это был очень интересный опыт и знакомство с настоящими шаманами, где Алина выступала, как гид и переводчик.
              </p>
              <br/>
              <p>
                Вторая была культурно-историческая, на пирамиды, с заездом подземные озёра - сеноты, где можно было поплавать и освежиться после жаркого дня. Экскурсия была очень насыщенная как впечатлениями, так и новой интереснейшей информацией. За время нашей поездки, Алина успела нам рассказать всю историю Мексики со времён Майя, конкистадоров до сегодняшних дней. С первых минут нам стало ясно, что Алина очень глубоко разбирается в истории и культуре Мексики, с лёгкостью и улыбкой отвечает на самые сложные и каверзные вопросы и у неё, определённо, огромный талант рассказчика и гида! Спасибо большое!

              </p>
            </div>
          </div>

          <button class="article__button button button--inline" @click="collapseBlock">{{ "{{ isCollapsed ? 'Скрыть' : 'Подробнее' \}}" | safe }}</button>
        </article>
      </article-component>
    </div>
  </div>
</section>