<footer class="footer" role="contentinfo" id="contacts">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__row">
        <div class="footer__item">
          <div class="footer__logo">
            <a href="#top" class="logo" data-smooth>
              {{ icon('logo', 'logo__img') }}
            </a>
          </div>
        </div>

        <div class="footer__item">
          <div class="footer__socials socials">
            <ul class="socials__list">
              <li class="socials__item">
                <a
                  href="https://vk.com"
                  class="socials__link"
                  rel="noreferrer,nofollow"
                  target="_blank"
                  title="ВКонтакте"
                  aria-label="ВКонтакте"
                >
                  {{ icon("vk", "socials__icon") }}
                </a>
              </li>
              <li class="socials__item">
                <a
                  href="https://instagram.com"
                  class="socials__link"
                  rel="noreferrer,nofollow"
                  target="_blank"
                  title="Instagram"
                  aria-label="Instagram"
                >
                  {{ icon("instagram", "socials__icon") }}
                </a>
              </li>
            </ul>
          </div>

          <div class="footer__email email">
            <a
              class="email__link"
              href="mailto:info@energytravel.com"
              title="Перейти в приложение электронной почты"
              aria-label="Перейти в приложение электронной почты"
            >
              {{ icon("mail", "email__icon") }}
              <span class="email__label">info@energytravel.com</span>
            </a>
          </div>
        </div>
      </div>

      <div class="footer__row">
        <div class="footer__item">
          <div class="contacts">
            <div class="contacts__item">
              <div class="contacts__label">Telephone | WhatsApp | Viber | Telegram</div>
              <a href="tel:+79650660013" class="contacts__value">+7 965 066-00-13</a>
            </div>
            <div class="contacts__item">
              <div class="contacts__label">Telephone | Telegram</div>
              <a href="tel:+79219596028" class="contacts__value">+7 921 959-60-28</a>
            </div>
          </div>

          <div class="footer__widget widget widget--vk">
          </div>
        </div>



        <div class="footer__item">
          <div class="footer__legals legals">
            <p class="legals__item">ООО «Энерджи тревел»</p>
            <p class="legals__item">ОГРН 1147847137448</p>
            <p class="legals__item">ИНН/КПП 7842517956/784201001</p>
          </div>

          <a href="#" class="footer__privacy" target="_blank">
            Политика конфиденциальности
          </a>
        </div>
      </div>

      <div class="footer__row">
        <div class="footer__item">
          <div class="footer__copyright">
            Все права защищены © 2019 Energy TRAVEL - авторские туры
            <br/>
            Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ
          </div>
        </div>

        <div class="footer__item">
          <div class="footer__developer developer">
            Сайт разработчика:
            <a href="https://at-develop.ru" class="developer__link" aria-label="ООО «Прикладные Технологии»" title="Перейти на сайт Apptech">
              {{ icon('apptech', 'developer__logo') }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>