<header-component @nav-show="fixBody" @nav-close="fixBody(false)" :screen-width="screenWidth" inline-template>
  <header :class="{'js-scrolling': isScrolling }"  class="header" >
    <div class="container">
      <nav class="header__nav nav">
        <a href="#top" class="nav__logo logo" data-smooth>
          {{ icon('logo-colored', 'logo__img') }}
        </a>
        <div class="nav__toggle" v-cloak v-if="screenWidth < 1024">
          <button :class="{ 'js-active': isNavVisible }" class="toggle toggle--nav" @click="showNav">
            <span class="toggle__item"></span>
            <span class="toggle__item"></span>
          </button>
        </div>

        <transition name="fade">
          <div :class="{ 'js-active': isNavVisible }" class="nav__mobile" v-cloak v-show="isNavVisible || screenWidth >= 1024">
            <ul class="nav__menu menu">
              <li class="menu__item">
                <a href="#program" class="menu__link" data-smooth>Программа</a>
              </li>
              <li class="menu__item">
                <a href="#team" class="menu__link" data-smooth>Команда</a>
              </li>
              <li class="menu__item">
                <a href="#pricing" class="menu__link" data-smooth>Цены и даты</a>
              </li>
              <li class="menu__item">
                <a href="#feedback" class="menu__link" data-smooth>Отзывы</a>
              </li>
              <li class="menu__item">
                <a href="#faq" class="menu__link" data-smooth>FAQ</a>
              </li>
              <li class="menu__item">
                <a href="#contacts" class="menu__link" data-smooth>Контакты</a>
              </li>
            </ul>

            <div class="nav__socials socials"  v-if="screenWidth < 1024">
              <ul class="socials__list">
                <li class="socials__item">
                  <a
                    href="https://vk.com/energytravelpro"
                    class="socials__link"
                    rel="noreferrer,nofollow"
                    target="_blank"
                    title="ВКонтакте"
                    aria-label="ВКонтакте"
                  >
                    {{ icon("vk", "socials__icon") }}
                  </a>
                </li>
                <li class="socials__item">
                  <a
                    href="http://www.instagram.com/energytravelpro"
                    class="socials__link"
                    rel="noreferrer,nofollow"
                    target="_blank"
                    title="Instagram"
                    aria-label="Instagram"
                  >
                    {{ icon("instagram", "socials__icon") }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </transition>
      </nav>
    </div>
  </header>
</header-component