<section class="section live">
  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center heading--has-action">
      Жить будем в кайф
    </h2>

    <tabs-component inline-template>
      <div class="live__tabs tabs">
        <div class="tabs__nav tabs-nav">
          <ul class="tabs-nav__list">
            <li class="tabs-nav__item">
              <a href="#see"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 1 }"
                @click="showPane(1, $event)"
              >Где будем жить</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#feel"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 2 }"
                @click="showPane(2, $event)"
              >Что будем пить</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#surprize"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 3 }"
                @click="showPane(3, $event)"
              >Что будем есть</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#restore"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 4 }"
                @click="showPane(4, $event)"
              >Что привезем домой</a>
            </li>
          </ul>
        </div>

        <div class="tabs__content">
          <div class="tab-pane panel" id="live" v-if="tabPaneActive == 1">

            <div class="tab-pane__pictures tab-pane__pictures">
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food1', 'jpg') }}
              </div>
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food2', 'jpg') }}
              </div>
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food3', 'jpg') }}
              </div>
            </div>

            <div class="tab-pane__content">
              <p>
                Первое, что необходимо нам выучить при заказе еды – это «no picanto», основная часть всех мексиканских блюд готовится с перцем чили.
              </p>
              <p>
                В период всего путешествия мы будем останавливаться в аутентичных ресторанчиках, где будем пробовать национальные блюда, закажем фирменный кукурузный суп с мясом позоле (Pozole) и энчиладу (Enchiladas) - вариация лазаньи под соусом. На десерт - пудинг Arroz con Leche.
              </p>
              <p>
                Пробуем фирменное блюдо - Chiles en nogada. Это перец чили, фаршированный мясом, фруктами и специями. Всё это полито специальным сырным соусом и украшено гранатом.
              </p>
              <p>
                Будем останавливаться возле лавок с фруктами и овощами. Пробуем боул со свежими ягодами, фруктами, гранолой и орешками и запиваем смузи из манго, миндаля и натурального йогурта.
              </p>
              <p>
                <b>Кстати!</b> Фрукты здесь вкуснейшие - их экспортируют в Америку. Также мы попробуем блюда национальной кухни:
              </p>
              <p>
                <b>Такос</b> – кукурузная лепешка, на которую сверху кладется мелко порезанное мясо, лук, кинза и все что угодно еще, сверху поливается острым соусом на основе чили абанеро.
              </p>
              <p>
                <b>Гуакамоле</b> – пюре из авокадо с помидорами, луком и чили абанеро
              </p>
              <p>
                <b>Мясо с соусом моле</b> – любые виды мяса в сложнейшем шоколадно-пряном соусе
              </p>
              <p>
                <b>Севиче</b> – коктейль из морепродуктов с лимонной заправкой
              </p>
              <p>
                <b>Тамаль</b> – пирожок из маисовой массы, завернутый в кукурузный початок и тушеный
              </p>
              <p>
                <b>Аррачера стейки</b> – специально маринованная очень мягкая часть говядины
              </p>
              <p>
                <b>
                  Для самых смелых: съедобные кузнечики и экскамолеc - блюдо из муравьиных яиц
                </b>
              </p>

              <div class="tab-pane__advice media">
                <span class="media__label label label--bold">Совет</span>
                <h6 class="media__title heading heading--h6">Как правильно пить текилу:</h6>
                <p class="media__desc">
                  Строгих правил не существует, но обычно текилу Gold пьют с цитрусом и с корицей, а Añejo вообще без всего для особого послевкусия, Grand añejo можно пить со льдом.
                  Есть версия, согласно которой текилу надо пить, внюхивая соль через нос, а сок лайма выжимать прямо в глаз. Не пытайтесь повторить, трюк выполняется профессионалами! =)))
                </p>
              </div>
            </div>
          </div>

          <div class="tab-pane panel" id="drink" v-if="tabPaneActive == 2">

            <div class="tab-pane__pictures tab-pane__pictures">
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food1', 'jpg') }}
              </div>
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food2', 'jpg') }}
              </div>
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food3', 'jpg') }}
              </div>
            </div>

            <div class="tab-pane__content">
              <p>
                Первое, что необходимо нам выучить при заказе еды – это «no picanto», основная часть всех мексиканских блюд готовится с перцем чили.
              </p>
              <p>
                В период всего путешествия мы будем останавливаться в аутентичных ресторанчиках, где будем пробовать национальные блюда, закажем фирменный кукурузный суп с мясом позоле (Pozole) и энчиладу (Enchiladas) - вариация лазаньи под соусом. На десерт - пудинг Arroz con Leche.
              </p>
              <p>
                Пробуем фирменное блюдо - Chiles en nogada. Это перец чили, фаршированный мясом, фруктами и специями. Всё это полито специальным сырным соусом и украшено гранатом.
              </p>
              <p>
                Будем останавливаться возле лавок с фруктами и овощами. Пробуем боул со свежими ягодами, фруктами, гранолой и орешками и запиваем смузи из манго, миндаля и натурального йогурта.
              </p>
              <p>
                <b>Кстати!</b> Фрукты здесь вкуснейшие - их экспортируют в Америку. Также мы попробуем блюда национальной кухни:
              </p>
              <p>
                <b>Такос</b> – кукурузная лепешка, на которую сверху кладется мелко порезанное мясо, лук, кинза и все что угодно еще, сверху поливается острым соусом на основе чили абанеро.
              </p>
              <p>
                <b>Гуакамоле</b> – пюре из авокадо с помидорами, луком и чили абанеро
              </p>
              <p>
                <b>Мясо с соусом моле</b> – любые виды мяса в сложнейшем шоколадно-пряном соусе
              </p>
              <p>
                <b>Севиче</b> – коктейль из морепродуктов с лимонной заправкой
              </p>
              <p>
                <b>Тамаль</b> – пирожок из маисовой массы, завернутый в кукурузный початок и тушеный
              </p>
              <p>
                <b>Аррачера стейки</b> – специально маринованная очень мягкая часть говядины
              </p>
              <p>
                <b>
                  Для самых смелых: съедобные кузнечики и экскамолеc - блюдо из муравьиных яиц
                </b>
              </p>

              <div class="tab-pane__advice media">
                <span class="media__label label label--bold">Совет</span>
                <h6 class="media__title heading heading--h6">Как правильно пить текилу:</h6>
                <p class="media__desc">
                  Строгих правил не существует, но обычно текилу Gold пьют с цитрусом и с корицей, а Añejo вообще без всего для особого послевкусия, Grand añejo можно пить со льдом.
                  Есть версия, согласно которой текилу надо пить, внюхивая соль через нос, а сок лайма выжимать прямо в глаз. Не пытайтесь повторить, трюк выполняется профессионалами! =)))
                </p>
              </div>
            </div>
          </div>

          <div class="tab-pane panel" id="food" v-if="tabPaneActive == 3">

            <div class="tab-pane__pictures tab-pane__pictures">
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food1', 'jpg') }}
              </div>
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food2', 'jpg') }}
              </div>
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food3', 'jpg') }}
              </div>
            </div>

            <div class="tab-pane__content">
              <p>
                Первое, что необходимо нам выучить при заказе еды – это «no picanto», основная часть всех мексиканских блюд готовится с перцем чили.
              </p>
              <p>
                В период всего путешествия мы будем останавливаться в аутентичных ресторанчиках, где будем пробовать национальные блюда, закажем фирменный кукурузный суп с мясом позоле (Pozole) и энчиладу (Enchiladas) - вариация лазаньи под соусом. На десерт - пудинг Arroz con Leche.
              </p>
              <p>
                Пробуем фирменное блюдо - Chiles en nogada. Это перец чили, фаршированный мясом, фруктами и специями. Всё это полито специальным сырным соусом и украшено гранатом.
              </p>
              <p>
                Будем останавливаться возле лавок с фруктами и овощами. Пробуем боул со свежими ягодами, фруктами, гранолой и орешками и запиваем смузи из манго, миндаля и натурального йогурта.
              </p>
              <p>
                <b>Кстати!</b> Фрукты здесь вкуснейшие - их экспортируют в Америку. Также мы попробуем блюда национальной кухни:
              </p>
              <p>
                <b>Такос</b> – кукурузная лепешка, на которую сверху кладется мелко порезанное мясо, лук, кинза и все что угодно еще, сверху поливается острым соусом на основе чили абанеро.
              </p>
              <p>
                <b>Гуакамоле</b> – пюре из авокадо с помидорами, луком и чили абанеро
              </p>
              <p>
                <b>Мясо с соусом моле</b> – любые виды мяса в сложнейшем шоколадно-пряном соусе
              </p>
              <p>
                <b>Севиче</b> – коктейль из морепродуктов с лимонной заправкой
              </p>
              <p>
                <b>Тамаль</b> – пирожок из маисовой массы, завернутый в кукурузный початок и тушеный
              </p>
              <p>
                <b>Аррачера стейки</b> – специально маринованная очень мягкая часть говядины
              </p>
              <p>
                <b>
                  Для самых смелых: съедобные кузнечики и экскамолеc - блюдо из муравьиных яиц
                </b>
              </p>

              <div class="tab-pane__advice media">
                <span class="media__label label label--bold">Совет</span>
                <h6 class="media__title heading heading--h6">Как правильно пить текилу:</h6>
                <p class="media__desc">
                  Строгих правил не существует, но обычно текилу Gold пьют с цитрусом и с корицей, а Añejo вообще без всего для особого послевкусия, Grand añejo можно пить со льдом.
                  Есть версия, согласно которой текилу надо пить, внюхивая соль через нос, а сок лайма выжимать прямо в глаз. Не пытайтесь повторить, трюк выполняется профессионалами! =)))
                </p>
              </div>
            </div>
          </div>

          <div class="tab-pane panel" id="souvenirs" v-if="tabPaneActive == 4">

            <div class="tab-pane__pictures tab-pane__pictures">
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food1', 'jpg') }}
              </div>
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food2', 'jpg') }}
              </div>
              <div class="tab-pane__picture-wrap">
                {{ picture('Что будем есть', 'tab-pane__img', 'img/live/food3', 'jpg') }}
              </div>
            </div>

            <div class="tab-pane__content">
              <p>
                Первое, что необходимо нам выучить при заказе еды – это «no picanto», основная часть всех мексиканских блюд готовится с перцем чили.
              </p>
              <p>
                В период всего путешествия мы будем останавливаться в аутентичных ресторанчиках, где будем пробовать национальные блюда, закажем фирменный кукурузный суп с мясом позоле (Pozole) и энчиладу (Enchiladas) - вариация лазаньи под соусом. На десерт - пудинг Arroz con Leche.
              </p>
              <p>
                Пробуем фирменное блюдо - Chiles en nogada. Это перец чили, фаршированный мясом, фруктами и специями. Всё это полито специальным сырным соусом и украшено гранатом.
              </p>
              <p>
                Будем останавливаться возле лавок с фруктами и овощами. Пробуем боул со свежими ягодами, фруктами, гранолой и орешками и запиваем смузи из манго, миндаля и натурального йогурта.
              </p>
              <p>
                <b>Кстати!</b> Фрукты здесь вкуснейшие - их экспортируют в Америку. Также мы попробуем блюда национальной кухни:
              </p>
              <p>
                <b>Такос</b> – кукурузная лепешка, на которую сверху кладется мелко порезанное мясо, лук, кинза и все что угодно еще, сверху поливается острым соусом на основе чили абанеро.
              </p>
              <p>
                <b>Гуакамоле</b> – пюре из авокадо с помидорами, луком и чили абанеро
              </p>
              <p>
                <b>Мясо с соусом моле</b> – любые виды мяса в сложнейшем шоколадно-пряном соусе
              </p>
              <p>
                <b>Севиче</b> – коктейль из морепродуктов с лимонной заправкой
              </p>
              <p>
                <b>Тамаль</b> – пирожок из маисовой массы, завернутый в кукурузный початок и тушеный
              </p>
              <p>
                <b>Аррачера стейки</b> – специально маринованная очень мягкая часть говядины
              </p>
              <p>
                <b>
                  Для самых смелых: съедобные кузнечики и экскамолеc - блюдо из муравьиных яиц
                </b>
              </p>

              <div class="tab-pane__advice media">
                <span class="media__label label label--bold">Совет</span>
                <h6 class="media__title heading heading--h6">Как правильно пить текилу:</h6>
                <p class="media__desc">
                  Строгих правил не существует, но обычно текилу Gold пьют с цитрусом и с корицей, а Añejo вообще без всего для особого послевкусия, Grand añejo можно пить со льдом.
                  Есть версия, согласно которой текилу надо пить, внюхивая соль через нос, а сок лайма выжимать прямо в глаз. Не пытайтесь повторить, трюк выполняется профессионалами! =)))
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tabs-component>
  </div>
</section>