<section class="section live">
  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center heading--has-action">
      Жить будем в кайф
    </h2>

    <tabs-component :swiper-options="swiperOptions" inline-template>
      <div class="live__tabs tabs">
        <div class="tabs__nav tabs-nav">
          <ul class="tabs-nav__list">
            <li class="tabs-nav__item">
              <a href="#live"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 1 }"
                @click="showPane(1, $event)"
              >Где будем жить</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#food"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 2 }"
                @click="showPane(2, $event)"
              >Что будем есть</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#drink"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 3 }"
                @click="showPane(3, $event)"
              >Что будем пить</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#souvenirs"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 4 }"
                @click="showPane(4, $event)"
              >Что привезем домой</a>
            </li>
          </ul>
        </div>

        <div class="tabs__content">
          <div class="tab-pane" id="live" v-if="tabPaneActive == 1">
            <div class="tab-pane__inner panel">
              <div class="tab-pane__pictures tab-pane__pictures">
                <div class="tab-pane__picture-wrap">
                  {{ picture('The Reef Playacar на Карибском море', 'tab-pane__img', 'img/live/hotel', 'jpg') }}
                </div>
              </div>

              <div class="tab-pane__content">
                <p>
                  Аутентичные отели с завтраками на всем маршруте (3-5*) и роскошный отель "все включено" The Reef Playacar на Карибском море (4*)
                </p>

                <div class="tab-pane__advice media">
                  <span class="media__label label label--bold">Совет</span>
                  <h6 class="media__title heading heading--h6">
                    Рекомендуем не засиживаться допоздна за просмотром мексиканских сериалов, чтобы не пропустить вкусный завтрак.</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="food" v-if="tabPaneActive == 2">
            <swiper :options="swiperOptions">
              <button class="swiper-button-prev" slot="button-prev">
                {{ icon('prev', "swiper-button__icon") }}
              </button>
              <div class="swiper-pagination"  slot="pagination"></div>
              <button class="swiper-button-next" slot="button-next">
                {{ icon('next', "swiper-button__icon") }}
              </button>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Гуакамоле', 'tab-pane__img', 'img/live/food2', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <p>
                      Первое, что необходимо нам выучить при заказе еды – это «no picanto», основная часть всех мексиканских блюд готовится с перцем чили.
                    </p>
                    <p>
                      В период всего путешествия мы будем останавливаться в аутентичных ресторанчиках, где будем пробовать национальные блюда, закажем фирменный кукурузный суп с мясом позоле (Pozole) и энчиладу (Enchiladas) - вариация лазаньи под соусом. На десерт - пудинг Arroz con Leche.
                    </p>
                    <p>
                      Пробуем фирменное блюдо - Chiles en nogada. Это перец чили, фаршированный мясом, фруктами и специями. Всё это полито специальным сырным соусом и украшено гранатом.
                    </p>
                    <p>
                      Будем останавливаться возле лавок с фруктами и овощами. Пробуем боул со свежими ягодами, фруктами, гранолой и орешками и запиваем смузи из манго, миндаля и натурального йогурта.
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Жаркое из свинины', 'tab-pane__img', 'img/live/food1', 'jpg') }}
                    </div>
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Арачеро', 'tab-pane__img', 'img/live/food3', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <p>
                      Кстати! Фрукты здесь вкуснейшие - их экспортируют в Америку. Также мы попробуем блюда национальной кухни:
                    </p>
                    <p>
                      <b>Такос</b> – кукурузная лепешка, на которую сверху кладется мелко порезанное мясо, лук, кинза и все что угодно еще, сверху поливается острым соусом на основе чили абанеро.
                    </p>
                    <p>
                      <b>Гуакамоле</b> – пюре из авокадо с помидорами, луком и чили абанеро
                    </p>
                    <p>
                      <b>Мясо с соусом моле</b> – любые виды мяса в сложнейшем шоколадно-пряном соусе
                    </p>
                    <p>
                      <b>Севиче</b> – коктейль из морепродуктов с лимонной заправкой
                    </p>
                    <p>
                      <b>Тамаль</b> – пирожок из маисовой массы, завернутый в кукурузный початок и тушеный
                    </p>
                    <p>
                      <b>Аррачера стейки</b> – специально маринованная очень мягкая часть говядины
                    </p>
                    <p>
                      <b>
                        Для самых смелых: съедобные кузнечики и экскамолеc - блюдо из муравьиных яиц
                      </b>
                    </p>

                    <div class="tab-pane__advice media">
                      <span class="media__label label label--bold">Совет</span>
                      <h6 class="media__title heading heading--h6">Если ты не любишь лук, то сразу скажи об этом, поскольку в мексиканской кухне лук имеется почти везде.</h6>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
          </div>

          <div class="tab-pane" id="drink" v-if="tabPaneActive == 3">
            <div class="tab-pane__inner panel">
              <div class="tab-pane__pictures tab-pane__pictures">
                <div class="tab-pane__picture-wrap">
                  {{ picture('Орчата', 'tab-pane__img', 'img/live/orchata', 'jpg') }}
                </div>
                <div class="tab-pane__picture-wrap">
                  {{ picture('Текила', 'tab-pane__img', 'img/live/tequila', 'jpg') }}
                </div>
              </div>

              <div class="tab-pane__content">
                <p>
                  Мы будем дегустировать традиционные напитки Мексики — текилу, мескаль и пульке. На протяжении маршрута будем пить бутылочную воду, останавливаясь в ресторанчиках будем заказывать другие напитки:
                </p>
                <p>
                  <b>Орчата</b> – сладкое рисовое молоко
                </p>
                <p>
                  <b>Хамайка</b> – холодный сладкий каркадэ
                </p>
                  <b>Агва де фрутас</b> – фруктовые воды, сок разбавленный водой с сахаром
                <p>
                  <b>Мичелада</b> — пивной напиток с соком лайма и специями.
                </p>

                <div class="tab-pane__advice media">
                  <span class="media__label label label--bold">Совет</span>
                  <h6 class="media__title heading heading--h6">Как правильно пить текилу:</h6>
                  <p class="media__desc">
                    Строгих правил не существует, но обычно текилу Gold пьют с цитрусом и с корицей, а Añejo вообще без всего для особого послевкусия, Grand añejo можно пить со льдом.
                    Есть версия, согласно которой текилу надо пить, внюхивая соль через нос, а сок лайма выжимать прямо в глаз. Не пытайтесь повторить, трюк выполняется профессионалами! =)))
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="souvenirs" v-if="tabPaneActive == 4">
            <div class="tab-pane__inner panel">
              <div class="tab-pane__pictures tab-pane__pictures">
                <div class="tab-pane__picture-wrap">
                  {{ picture('Камни', 'tab-pane__img', 'img/live/stones_teotihuacan', 'jpg') }}
                </div>
                {# <div class="tab-pane__picture-wrap">
                  {{ picture('Шоколад', 'tab-pane__img', 'img/live/chocolate_chiapas', 'jpg') }}
                </div> #}
              </div>

              <div class="tab-pane__content">
                <p>
                  Самое главное, что мы привезем с собой – это наши впечатления, для родных и близких рекомендуем приобрести памятные сувениры. Каждый штат знаменит чем-то особенным:
                </p>
                <p>
                  <b>Теотиуакан</b> – камни, обсидиан, серебро
                </p>
                <p>
                  <b>Пуэбла</b> – керамика талавера
                </p>
                  <b>Оахака</b> – текстиль и мескаль
                <p>
                  <b>Чиапас</b> — шоколад, кофе, поделки из фетра, попоны, янтарь
                </p>
                <p>
                  <b>Кампече</b> — шляпы из соломы Хипихапа
                </p>

                <div class="tab-pane__advice media">
                  <span class="media__label label label--bold">Совет</span>
                  <h6 class="media__title heading heading--h6">В Россию рaзpeшeнo бecпoшлиннo ввoзить нe бoлee 3-x литpoв любыx aлкoгoльныx нaпиткoв нa чeлoвeкa, пpи этoм кpeпocть нe имeeт знaчeния.</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tabs-component>
  </div>
</section>