<transition name="fade">
  <div v-if="modals.video" class="modal modal--video" v-cloak @click.self="toggleModal('video')" role="dialog">
    <div class="modal__inner">
      <button class="modal__close" @click="toggleModal('video')">
        {{ icon('cross', 'modal__close-icon') }}
      </button>

      <div class="modal__content">
        <div class="widget widget--video">
          <video src="files/video.mp4" ref="video" @pause="videoStatus = 'paused'"></video>

          <transition name="fade">
            <button v-show="videoStatus === 'paused'" class="widget__button" @click="playVideo()">
            {{ icon('play', 'toggle__icon') }}
            </button>
          </transition>
        </div>
      </div>
    </div>
  </div>
</transition>