<transition name="fade">
  <div v-if="modals.video" class="modal modal--video" v-cloak @click.self="toggleModal('video')" role="dialog">
    <div class="modal__inner">
      <button class="modal__close" @click="toggleModal('video')">
        {{ icon('cross', 'modal__close-icon') }}
      </button>

      <div class="modal__content">
        <div class="widget widget--video">
          <video v-if="videoStatus" :src="videoSrc" ref="video" @pause="videoStatus = 'paused'" controls @play="videoStatus = 'playing'"></video>
          <div v-else class="widget__poster">
            <picture>
              <source
                media="(max-width: 56em)"
                srcset="img/cover/poster@1x.webp 1x, img/cover/poster@2x.webp 2x"
                type="image/webp"
              > 
              <source
                media="(max-width: 56em)"
                srcset="img/cover/poster@1x.jpg 1x, img/cover/poster@2x.jpg 2x"
              >
              <source
                srcset="img/cover/poster@1.5x.webp 1x, img/cover/poster@3x.webp 2x"
                type="image/webp"
              >
              <img
                class="widget__poster-img"
                src="img/cover/poster@1.5x.jpg"
                srcset="img/cover/poster@3x.jpg 2x"
                alt="Видео-приглашение от основателей компании Energy TRAVEL"
              >
            </picture>
          </div>

          <transition name="fade">
            <button v-show="videoStatus !== 'playing'" class="widget__button" @click="playVideo()">
            {{ icon('play', 'toggle__icon') }}
            </button>
          </transition>
        </div>
      </div>
    </div>
  </div>
</transition>