{% macro picture(alt, classname, path, ext) %}
  <picture>
    <source
      media="(max-width: 56em)"
      data-srcset="{{ path }}@1x.webp 1x, {{ path }}@2x.webp 2x"
      type="image/webp"
    > 
    <source
      media="(max-width: 56em)"
      data-srcset="{{ path }}@1x.{{ ext }} 1x, {{ path }}@2x.{{ ext }} 2x"
    >
    <source
      data-srcset="{{ path }}@1.5x.webp 1x, {{ path }}@3x.webp 2x"
      type="image/webp"
    >
    <img
      {% if classname %}class="{{ classname }}"{% endif %}
      v-lazy="'{{ path }}@1.5x.{{ ext }}'"
      data-srcset="{{ path }}@3x.{{ ext }} 2x"
      alt="{{ alt }}"
      v-cloak
    >
  </picture>
{% endmacro %}