<section class="section pricing" id="pricing">
  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center heading--has-action">
      Стоимость энерджи-тура
    </h2>

    <div class="pricing__grid">
      <div class="pricing__form panel">
        <form-pricing inline-template @form-submit="handlePricingForm">
          <form action="/" class="form form--pricing">
            <div class="form__group">
              <label class="control control--select">
                <span class="control__label control__label--bold">Выберете дату</span>
                <div class="control__wrap">
                  {{ icon('calendar', 'control__icon') }}
                  <select class="control__input" name="tours" id="tours" @change="checkSeats" v-model="selected">
                    <option v-for="tour in tours" :value="tour.id">
                      {{ "{{ tour.date }}" | safe }}
                    </option>
                  </select>
                  {{ icon('arrow-bottom', 'control__arrow') }}
                </div>
              </label>
            </div>

            <div class="form__group form__group--border-b">
              <span class="form__param">{{ "{{ selectedTour.seatsAvailable }}" | safe }}/{{ "{{ selectedTour.seatsTotal }}" | safe }} мест осталось</span>
              <span class="form__param">{{ "{{ tourDuration }}" | safe }}</span>
            </div>

            <div class="form__group form__group--border-b">
              <div class="price">
                <strong class="price__current">$ {{ "{{ selectedTour.priceCurrent }}" | safe }}</strong>
                <del class="price__prev">${{ "{{ selectedTour.pricePrev }}" | safe }}</del>
              </div>
            </div>

            <div class="form__group form__group--padding-lg">
              <label for="seats" class="control control--numeric">
                <span class="control__label">Кол-во мест:</span>
                <div class="control__wrap">
                  <button type="button" class="control__btn control__btn--minus" @click="subtractSeats" aria-label="Уменьшить">
                    -
                  </button>
                  <input class="control__input" type="number" name="seats" id="seats" readonly :value="seats">
                  <button type="button" class="control__btn control__btn--plus" @click="addSeats" aria-label="Увеличить">
                    +
                  </button>
                </div>
              </label>
            </div>

            <div class="form__group">
              <p class="form__notice">
                Для бронирования тура достаточно 2000$
              </p>
            </div>

            <div class="form__group">
              <button class="button button--primary button--uppercase button--bold button--block" @click.prevent="formSubmit">
                Хочу в Мексику
              </button>
            </div>
          </form>
        </form-pricing>
      </div>

      <tabs-component inline-template>
        <div class="pricing__tabs tabs">
          <div class="tabs__nav tabs-nav">
            <ul class="tabs-nav__list">
              <li class="tabs-nav__item">
                <a href="#included"
                  class="tabs-nav__link"
                  :class="{ 'js-active': tabPaneActive == 1 }"
                  @click="showPane(1, $event)"
                >Что входит</a>
              </li>
              <li class="tabs-nav__item">
                <a href="#notincluded"
                  class="tabs-nav__link"
                  :class="{ 'js-active': tabPaneActive == 2 }"
                  @click="showPane(2, $event)"
                >Что не входит</a>
              </li>
            </ul>
          </div>

          <div class="tabs__content">
            <div class="tab-pane" key="included" id="included" v-if="tabPaneActive == 1">
              <div class="tab-pane__content">
                <ul class="list list--ul">
                  <li>трансфер аэропорт-отель-аэропорт</li>
                  <li>размещение в отелях 3-5* по маршруту, 4* на море</li>
                  <li>питание: завтраки + все включено на море</li>
                  <li>вода 2 л/день</li>
                  <li>все активности по программе</li>
                  <li>профессиональный гид</li>
                  <li>комфортабельный транспорт с профессиональным водителем:<br>
                      Mercedes-Benz/Volkswagen</li>
                </ul>
              </div>
            </div>
          
            <div class="tab-pane" key="notincluded" id="notincluded" v-if="tabPaneActive == 2">
              <div class="tab-pane__content">
                <ul class="list list--ul">
                  <li>авиаперелет</li>
                  <li>виза</li>
                  <li>страховка</li>
                  <li>обеды/ужины по маршруту</li>
                  <li>личные расходы</li>
                  <li>одноместное проживание + 850$</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </tabs-component>

      {# Aviasales Widget #}
      {# <div class="pricing__widget widget widget--aviasales">
      </div> #}
    </div>
  </div>
</section>