<section class="section program">
  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center heading--has-action">
      Итак, наша сюрреалистическая программа

      <div class="section__action">
        <a href="#" target="_blank" rel="download" class="section__action-link">
          {{ icon('cloud-download', 'section__action-icon') }}
          <span>Скачать полную программу тура по дням</span>
        </a>
      </div>
    </h2>

    <tabs-component inline-template>
      <div class="program__tabs tabs">
        <div class="tabs__nav tabs-nav">
          <ul class="tabs-nav__list">
            <li class="tabs-nav__item">
              <a href="#see"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 1 }"
                @click="showPane(1, $event)"
              >Мы увидим</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#feel"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 2 }"
                @click="showPane(2, $event)" 
              >Мы испытаем</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#surprize"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 3 }" 
                @click="showPane(3, $event)"
              >Нас удивит</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#restore"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 4 }"
                @click="showPane(4, $event)"
              >Восстановит силы</a>
            </li>
          </ul>
        </div>

        <div class="tabs__content">
          <div class="tab-pane panel" id="see" v-if="tabPaneActive == 1">
            <div class="tab-pane__pictures tab-pane__pictures--lg">
              <div class="tab-pane__picture-wrap">
                {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
              </div>
            </div>

            <div class="tab-pane__content">
              <h4 class="heading heading--h4">Мехико</h4>

              <p>
                Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
              </p>
            </div>
          </div>

          <div class="tab-pane panel" v-cloak id="feel" v-if="tabPaneActive == 2">
            <div class="tab-pane__pictures tab-pane__pictures--lg">
              <div class="tab-pane__picture-wrap">
                {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
              </div>
            </div>

            <div class="tab-pane__content">
              <h4 class="heading heading--h4">Мы испытаем</h4>

              <p>
                Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
              </p>
            </div>
          </div>

          <div class="tab-pane panel" v-cloak id="surprize" v-if="tabPaneActive == 3">

            
            <div class="tab-pane__pictures tab-pane__pictures--lg">
              <div class="tab-pane__picture-wrap">
                {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
              </div>
            </div>

            <div class="tab-pane__content">
              <h4 class="heading heading--h4">Нас удивит</h4>

              <p>
                Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
              </p>
            </div>
          </div>

          <div class="tab-pane panel" v-cloak id="restore" v-if="tabPaneActive == 4">

            
            <div class="tab-pane__pictures tab-pane__pictures--lg">
              <div class="tab-pane__picture-wrap">
                {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
              </div>
            </div>
            
            <div class="tab-pane__content">
              <h4 class="heading heading--h4">Восстановит силы</h4>

              <p>
                Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
              </p>
            </div>
          </div>
        </div>
      </div>
    </tabs-component>
  </div>
</section>