<section class="section program" id="program">
  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center heading--has-action">
      Итак, наша сюрреалистическая программа

      <div class="section__action">
        <a href="#" class="section__action-link" @click.prevent="toggleModal('form')">
          {{ icon('cloud-download', 'section__action-icon') }}
          <span>Скачать полную программу тура по дням</span>
        </a>
      </div>
    </h2>

    <tabs-component :swiper-options="swiperOptions" inline-template>
      <div class="program__tabs tabs">
        <div class="tabs__nav tabs-nav">
          <ul class="tabs-nav__list">
            <li class="tabs-nav__item">
              <a href="#see"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 1 }"
                @click="showPane(1, $event)"
              >Мы увидим</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#feel"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 2 }"
                @click="showPane(2, $event)" 
              >Мы испытаем</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#surprize"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 3 }" 
                @click="showPane(3, $event)"
              >Нас удивит</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#restore"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 4 }"
                @click="showPane(4, $event)"
              >Восстановит наши силы</a>
            </li>
          </ul>
        </div>

        <div class="tabs__content">
          <div class="tab-pane" id="see" v-if="tabPaneActive == 1">
            <swiper :options="swiperOptions">
              <button class="swiper-button-prev" slot="button-prev">
                {{ icon('prev', "swiper-button__icon") }}
              </button>
              <div class="swiper-pagination"  slot="pagination"></div>
              <button class="swiper-button-next" slot="button-next">
                {{ icon('next', "swiper-button__icon") }}
              </button>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Мехико</h4>

                    <p>
                      Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.<br/>
                      Это стоит пережить!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('El Sotano de las Golondrinas', 'tab-pane__img', 'img/program/sotano-de-las-golondrinas', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Пещера ласточек (El Sotano de las Golondrinas)</h4>

                    <p>
                      Помните завораживающий фильм Джеймса Камерона «Санктум»? Только без печальных дайв-приключений и с красивым хеппи-эндом в нашем случае! Посетим крупнейший карстовый провал в мире, где снималась одна из сцен многомиллионного триллера! Без экстремальных прыжков, но с более комфортным спуском в пещеру глубиной несколько сотен метров! И… самое прекрасное… увидим спиральный полет стай стрижей и попугаев (хотя местные окрестили их ласточками☺) , возвращающихся с дневной охоты.<br/>
                      Стоит увидеть хотя бы раз в жизни!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Iztaccihuatl and Popocatepetl National Park', 'tab-pane__img', 'img/program/popocatepetl', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Прогулка-трекинг к вулканам (Iztaccihuatl and Popocatepetl National Park)</h4>

                    <p>
                      На протяжении веков величественные вулканы вызывают гордость и, одновременно, глубочайшие опасения мексиканцев. Вторая и третья по величине вершины Мексики – Курящая гора и Белая женщина производят неизгладимое впечатление. Особенно, если учесть, что один из вулканов еще «дышит» и с регулярной частотой изрыгает из себя величественные клубы белого дыма. Прогулка-трекинг в национальном парке добавит необходимый штрих к полной картине центрально-мексиканских ландшафтов.<br/>
                      Немного подзарядки энергией Матери Земли – то, что нам необходимо!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Tehuacán-Cuicatlán Biosphere Reserve', 'tab-pane__img', 'img/program/tehuacan-cuicatlan_biosphere_reserve', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Долина кактусов (Tehuacán-Cuicatlán Biosphere Reserve)</h4>

                    <p>
                      Величественные символы мексиканских долин – кактусы, кактусы и снова кактусы!  Обязательное фото и наслаждение классическим мексиканским пейзажем. <br/>
                      Живописные виды и очень аутентичные имиджи на память!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Hierve El Agua', 'tab-pane__img', 'img/program/peterfied_waterfall', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Каменный водопад из минеральной воды (Hierve El Agua)</h4>

                    <p>
                      «Кипящая вода» - так прозвали этот странный, ни на что не похожий водопад испанские колонизаторы. Наблюдая его издалека кажется, что массы белой пенистой воды скатываются вниз по стенам водопада. При приближении же раскрывается удивительный обман зрения – лишь небольшие струйки воды спускаются по окаменелому известняковому руслу, словно в миг застывшему по повелению древнего мага. На вершине горы обустроен милейший сульфатный бассейн, мы насладимся не только видом лечебной подземной воды, но и ее волшебными энергетическими свойствами.
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Cañón del Sumidero', 'tab-pane__img', 'img/program/canyon_del_sumidero', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">На лодке по Каньону Сумидеро (Cañón del Sumidero)</h4>

                    <p>
                      Классика жанра, которой не устаешь любоваться - река в обрамлении высоченных гор. Национальный парк Каньон дель Сумидеро - самая известная природная достопримечательность штата Чьяпас. Прокатимся на лодке меж нависающих величественных стен гор – восхитительно красиво и захватывающе! Особенно, если есть шанс встретить стайку обезьян, грифов и крокодилов
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Сан-Мигель-де-Альенде', 'tab-pane__img', 'img/program/san_migel_de_allende', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Романтика колониальных городов</h4>

                    <p>
                      Свое очарование нам откроют тихие, но яркие города, усыпанные разноцветными домиками прошлых веков. Они сочетают кипучую энергетику современности с очарованием Старой Европы. Многочисленные церквушки в стиле мексиканского барокко притягивают необъяснимым обаянием: камерностью и пестрым контрастом колониальной архитектуры и колоритных индейских персонажей.
                    </p>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
          </div>

          <div class="tab-pane" v-cloak id="feel" v-if="tabPaneActive == 2">
            <swiper :options="swiperOptions">
              <button class="swiper-button-prev" slot="button-prev">
                {{ icon('prev', "swiper-button__icon") }}
              </button>
              <div class="swiper-pagination"  slot="pagination"></div>
              <button class="swiper-button-next" slot="button-next">
                {{ icon('next', "swiper-button__icon") }}
              </button>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Ночной Stand-Up Paddle Board', 'tab-pane__img', 'img/program/nightpaddle', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Ночной Stand-Up Paddle Board</h4>

                    <p>
                      Мистическая красота природного региона Уастека Потосина еще более притягательна ночью. Особенно если вы находитесь на доске посреди горной реки с ночной подсветкой, создающей феерическую игру света и тени, в окружении бесподобной природной декорации.<br/>
                      Фантастических снов на планете Пандора!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Rio Tampaon', 'tab-pane__img', 'img/program/rio_tampaon', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Рафтинг в Рио Тампаон (Rio Tampaon)</h4>

                    <p>
                      Рафтинг по кристально чистым водам в тропических джунглях мексиканского штата Сан-Луис-Потоси производит удивительное впечатление - бирюзовый цвет речной воды сочетается с белым известняком и зеленью деревьев, растущих по берегам. Река Тампаон знаменита своими порогами, красивыми каменными садами и каскадами, поэтому здесь мы сможем попрыгать в один из многочисленных горных водопадов.<br/>
                      Бешеная энергетика, завораживающая красота и море адреналина обеспечены!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Agua Azul', 'tab-pane__img', 'img/program/aqua_azul', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Купание в каскадах водопада (Agua Azul)</h4>

                    <p>
                      Голубые воды каскадов создают неповторимый яркий пейзаж. Огромные пороги воды кипуче перекатываются из одного в другой, воплощая гигантскую лестницу горной реки. Поднимемся на смотровую площадку, окунемся в священную бирюзу вод и, конечно, сделаем потрясающие селфи на память!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Sac Actun', 'tab-pane__img', 'img/program/sac_actun', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Подземная пещерная река (Sac Actun)</h4>

                    <p>
                      Словно в пещерах горного короля, в подземных лабиринтах Сак-Актуна кроются мистические тайны природы. Неземная, даже несколько пугающая красота одной из самых длинных пещерных систем мира не оставит равнодушным! Заполненные кристально-прозрачной чистейшей и пресной водой каналы в обрамлении гигантских сталактитов создают целое подземное царство в духе фантастической саги Толкина.<br/>
                      Нас ждет редчайшее Чудо Природы и неповторимый экспириенс!
                    </p>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
          </div>

          <div class="tab-pane" v-cloak id="surprize" v-if="tabPaneActive == 3">
            <swiper :options="swiperOptions">
              <button class="swiper-button-prev" slot="button-prev">
                {{ icon('prev', "swiper-button__icon") }}
              </button>
              <div class="swiper-pagination"  slot="pagination"></div>
              <button class="swiper-button-next" slot="button-next">
                {{ icon('next', "swiper-button__icon") }}
              </button>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Museo de las Momias de Guanajuato', 'tab-pane__img', 'img/program/mummy', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Музей мумий (Museo de las Momias de Guanajuato)</h4>

                    <p>
                      Музей мумий (Museo de las Momias de Guanajuato) - один из самых шокирующих музеев мира.<br/>
                      Чем пугают мексиканских малышей в случае непослушания? Аналог местной Бабы Яги – мрачные и ужасно привлекательные мумии из Гуанахуато к вашему обозрению! Более 100 естественным образом сохранившихся тел жителей города, умерших в 19 веке и изначально похороненных на местном кладбище, но за неуплату налога вытащенных из каменных гробниц. <br/>
                      Интереснее, чем Древний Египет! А страшно – аж жуть!

                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Teotihuacan', 'tab-pane__img', 'img/program/teotihuacan', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Нечеловеческий Теотиуакан (Teotihuacan)</h4>

                    <p>
                      Если есть на земле место, где можно заподозрить следы присутствия неземных цивилизаций - это однозначно «Город Богов» Теотиуакан!  Древние народы Центральной Мексики считали, что его построили боги. Современные индейские старейшины сходятся на том, что здесь родился Белый Ягуар - символ эпохи Пятого Солнца. И, наконец, официальная наука просто разводит руками: до сих пор нет точных данных о времени создания Теотиуакана, равно как ни о народе, его сотворившем. Научные свидетельства расходятся и дают погрешность в тысячелетия! Точно известно одно - Теотиуакан не похож ни на один другой индейский город. Его нечеловеческие масштабы, равно как и космологические совпадения в конструкциях построек и геометрическая стройность архитектуры свидетельствуют об участии в его создании могущественных и неизвестных цивилизаций! Пройтись по Аллее Мертвых, подняться на Пирамиду Солнца и заглянуть в пасть жуткому змею Кетцалькоатлю – скучно не будет!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Las Pozas', 'tab-pane__img', 'img/program/las_pozas', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Сюрреалистический Замок Эдварда Джеймса (Las Pozas)</h4>

                    <p>
                      Разрывающий шаблоны сознания сюрреалистический сад эксцентричного английского миллионера, поэта и мецената Эдварда Джеймса надолго останется в памяти! Симбиоз творения рук человеческих и природы - джунгли, украшенные странными каменными инсталляциями. Las Pozas в переводе с испанского означает «источники». Между извилистых лиан и еще более витиеватых строений падают струи бирюзовых горных вод… Удивительным образом время объединило современные конструкции и экзотический природный ландшафт в один неповторимый симбиотический пейзаж. На ум приходят творения бессмертного Гауди и эксцентричные миры Сальвадора Дали… <br/>
                      То, чего меньше всего ожидаешь от Мексики! 
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('San Juan Chamula', 'tab-pane__img', 'img/program/san_juan_chamula', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Леденящий кровь языческий обряд (San Juan Chamula)</h4>

                    <p>
                      Сан Хуан Чамула – очень странное поселение индейского народа цоциль в центре горных хребтов Чьапаса. Такое нельзя пропустить!<br/>
                      Дичайший синкретизм католической и языческой культур поражает воображение. Полудикие взгляды местных женщин, облаченных в черные меховые юбки… Странные обряды древних народов с отголосками жертвоприношений до сих пор имеют место быть в церкви, которая на первый взгляд кажется христианской, но под крышей которой до сих пор молятся языческим духам. Другой мир!<br/>
                      Окунуться на минутку, и скорее назад! <b>Фотографировать строго запрещено!</b>
                    </p>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
          </div>

          <div class="tab-pane" v-cloak id="restore" v-if="tabPaneActive == 4">
            <div class="tab-pane__inner panel">
              <div class="tab-pane__pictures tab-pane__pictures--lg">
                <div class="tab-pane__picture-wrap">
                  {{ picture('Шаман', 'tab-pane__img', 'img/program/shaman', 'jpg') }}
                </div>

                <div class="tab-pane__picture-wrap">
                  {{ picture('Temazcal', 'tab-pane__img', 'img/program/temazcal', 'jpg') }}
                </div>
              </div>

              <div class="tab-pane__content">
                <h4 class="heading heading--h4">Обряд очищения в индейской бане Темаскаль. Ночная церемония с кактусом Пейот и настоящим шаманом Маракаме</h4>

                <p>
                  Мы предлагаем окунуться в удивительный мир эзотерики. Посмотреть на себя изнутри, найти ответы на вопросы, которые давно тебя волнуют, а также открыть в себе новые возможности и прийти к гармонии с собой и окружающим миром. Тысячелетия назад индейцы Центральной Америки начали практиковать обряд физического и духовного очищения: чтобы продлить жизнь племени, чтобы набраться мудрости у Вселенной, чтобы расширить энергетические каналы и добиться воплощения в жизнь запланированных целей. 
                </p>
                <p>
                  Традиция очищения горячим паром, ароматерапией, медитативной темнотой и мистической первобытной музыкой сохранилась до наших времен и проводится в той же форме, что и несколько веков назад. Все начинается с огромного костра, где нагреваются камни вулканического происхождения, добытые в горах Центральной Мексики. Камни играют главную роль в таинстве обряда — они создают волшебный целительный пар, за счет которого шаман и участники церемонии достигают энергетического очищения и просветления. В процессе Темаскаля используются разнообразные индейские травы и снадобья, каждое из которых имеет свое мистическое воздействие на организм человека. В завершение — обязательная релаксация в гамаках и легкий фруктовый ужин.
                </p>
                <p>
                  А уже с наступлением глубокой ночи наш очищенный дух в не менее чистом теле перенесется в другие измерения под руководством шамана Маракаме из племени индейцев Уичоли, только они имеют право на проведение церемонии. Трансцендентальное погружение внутрь Себя и полное слияние с Природой и Вселенной поможет пережить волшебный кактус Пейот – древнейший союзник всех шаманских ритуалов в индейской Мексике. По окончании обряда можно с удобством расположиться на мягких подстилках на оборудованной террасе, либо в гамаках и с глубочайшим спокойствием и негой раствориться в атмосфере диких тропических джунглей. 
                </p>
                <p>
                  Над головой звездное небо, а в душе покой и ясность жизненного пути...<br/>
                  Это настоящая Мексика!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tabs-component>
  </div>
</section>