<section class="section program" id="program">
  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center heading--has-action">
      Итак, наша сюрреалистическая программа

      <div class="section__action">
        <a href="#" class="section__action-link" @click.prevent="toggleModal('form')">
          {{ icon('cloud-download', 'section__action-icon') }}
          <span>Скачать полную программу тура по дням</span>
        </a>
      </div>
    </h2>

    <tabs-component :swiper-options="swiperOptions" inline-template>
      <div class="program__tabs tabs">
        <div class="tabs__nav tabs-nav">
          <ul class="tabs-nav__list">
            <li class="tabs-nav__item">
              <a href="#see"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 1 }"
                @click="showPane(1, $event)"
              >Мы увидим</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#feel"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 2 }"
                @click="showPane(2, $event)" 
              >Мы испытаем</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#surprize"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 3 }" 
                @click="showPane(3, $event)"
              >Нас удивит</a>
            </li>
            <li class="tabs-nav__item">
              <a href="#restore"
                class="tabs-nav__link"
                :class="{ 'js-active': tabPaneActive == 4 }"
                @click="showPane(4, $event)"
              >Восстановит наши силы</a>
            </li>
          </ul>
        </div>

        <div class="tabs__content">
          <div class="tab-pane" id="see" v-if="tabPaneActive == 1">
            <swiper :options="swiperOptions">
              <button class="swiper-button-prev" slot="button-prev">
                {{ icon('prev', "swiper-button__icon") }}
              </button>
              <div class="swiper-pagination"  slot="pagination"></div>
              <button class="swiper-button-next" slot="button-next">
                {{ icon('next', "swiper-button__icon") }}
              </button>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Мехико</h4>

                    <p>
                      Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Мехико</h4>

                    <p>
                      Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
                    </p>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="tab-pane__inner panel">
                  <div class="tab-pane__pictures tab-pane__pictures--lg">
                    <div class="tab-pane__picture-wrap">
                      {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
                    </div>
                  </div>

                  <div class="tab-pane__content">
                    <h4 class="heading heading--h4">Мехико</h4>

                    <p>
                      Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
                    </p>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
          </div>

          <div class="tab-pane panel" v-cloak id="feel" v-if="tabPaneActive == 2">
            <div class="tab-pane__pictures tab-pane__pictures--lg">
              <div class="tab-pane__picture-wrap">
                {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
              </div>
            </div>

            <div class="tab-pane__content">
              <h4 class="heading heading--h4">Мы испытаем</h4>

              <p>
                Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
              </p>
            </div>
          </div>

          <div class="tab-pane panel" v-cloak id="surprize" v-if="tabPaneActive == 3">

            
            <div class="tab-pane__pictures tab-pane__pictures--lg">
              <div class="tab-pane__picture-wrap">
                {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
              </div>
            </div>

            <div class="tab-pane__content">
              <h4 class="heading heading--h4">Нас удивит</h4>

              <p>
                Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
              </p>
            </div>
          </div>

          <div class="tab-pane panel" v-cloak id="restore" v-if="tabPaneActive == 4">

            
            <div class="tab-pane__pictures tab-pane__pictures--lg">
              <div class="tab-pane__picture-wrap">
                {{ picture('Мехико', 'tab-pane__img', 'img/program/mexico', 'jpg') }}
              </div>
            </div>
            
            <div class="tab-pane__content">
              <h4 class="heading heading--h4">Восстановит силы</h4>

              <p>
                Горячее сердце Мексики! Бывшая столица кровожадных ацтеков, превращенная испанцами в католическую колониальную мекку Нового Света. Более 25 миллионов жителей, горные пейзажи, небоскребы, старинные здания и древние руины… Огромный, кипучий, поражающий разнообразием архитектуры и наполненный сумасшедшей энергетикой Mexico City представляет собой микс эпох, культур и народов.   Это стоит пережить!
              </p>
            </div>
          </div>
        </div>
      </div>
    </tabs-component>
  </div>
</section>