<section class="section recreation" id="recreation">
  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center">
      Как будем восполнять твои запасы жизненных сил?
    </h2>

    {% set methods = [
      {
        icon: 'smile',
        title: 'Эмоции',
        desc: 'Пещеры, каньоны, каскады водопадов, карстовые провалы, замки и древние пирамиды, затерянные в джунглях, долина кактусов и... только один шокирующий музей'
      },{
        icon: 'directions',
        title: 'Движение',
        desc: 'Трекинг к вулкану, рафтинг по горной реке, ночной паддлбординг, прыжки в водопады, купание в природных источниках, подземных реках и лазурном Карибском море'
      },{
        icon: 'spa',
        title: 'Практики восполнения энергии',
        desc: 'Телесно-дыхательный комплекс от рекордсмена Книги рекордов Гиннесса с элементами тибетских методик ежедневно, медитации силы на вершине пирамид, индейская баня, шаманский ритуал'
      },{
        icon: 'water',
        title: 'Водный баланс',
        desc: '2 литра воды в день'
      },{
        icon: 'bolt-circle',
        title: 'Энергетический рацион',
        desc: 'Плотный завтрак, полноценный обед, легкий ужин по энергетической диете, солнечные фрукты, овощи, мясо на огне, морепродукты, настоящий шоколад, а для самых смелых кузнечики и муравьиные яйца... мексиканская кухня охраняется ЮНЕСКО'
      },{
        icon: 'moon',
        title: 'Восстанавливающий сон',
        desc: 'Телесно-дыхательная настройка на расслабляющий сон + много кислорода, ведь даже Мехико обладает наградой за качество воздуха'
      }
    ] %}
    <div class="recreation__methods methods">
      {% for method in methods %}
        <div class="media">
          {{ icon(method.icon, 'media__icon') }}
          <p class="media__title heading heading--h5">{{ method.title }}</p>
          <p class="media__desc">{{ method.desc }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>