<section class="section steps">
  <div class="container">
    <h2 class="section__heading heading heading--h3 heading--uppercase heading--text-center">
      Этапы участия в туре
    </h2>

    {% set steps = [
      {
        icon: 'phone',
        text: 'Получаем твою заявку с сайта, связываемся в течение рабочего дня, обговариваем детали'
      },{
        icon: 'file-doc',
        text: 'Получаем твою копию паспорта, готовим договор'
      },{
        icon: 'money',
        text: 'Получаем от тебя предоплату 50% для бронирования места'
      },{
        icon: 'chat',
        text: 'Включаем тебя в чат для онлайн информирования 24/7'
      },{
        icon: 'bus',
        text: 'Встречаем тебя в Мехико в назначенный день'
      }
    ] %}
    <ul class="steps__list">
      {% for step in steps %}
        <li class="steps__item">
          <div class="media media--center media--square-icon">
            {{ icon(step.icon, 'media__icon') }}

            <p class="media__desc">
              {{ step.text }}
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>