{% from "components/_picture.html" import picture %}
{% from "components/_icon.html" import icon %}

<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="cmsmagazine" content="cb95ec316d1e98b0ce587af79ab5c354" />

  <link rel="icon" type="image/x-icon" sizes="48x48" href="favicon/favicon_48.ico"> 
  <link rel="icon" type="image/x-icon" sizes="32x32" href="favicon/favicon_32.ico">
  <link rel="icon" type="image/x-icon" sizes="16x16" href="favicon/favicon.ico"> 
  <link rel="shortcut icon" type="image/x-icon" href="favicon/favicon.ico">

  <title>{{ title }}</title>

  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
  <link rel="stylesheet" href="css/styles.css?v={{ hash }}">
</head>
<body>
  <div id="app">
    {% include "components/_header.html" %}
    
    <main class="main">
      {% block content %}{% endblock %}
    </main>

    {% include "components/_modal-video.html" %}
    {% include "components/_modal-form.html" %}

    {% include "components/_footer.html" %}
  </div>

  <!-- VK Widget -->
  <div id="vk_community_messages"></div>

  <script>
    /* $tours = file_get_contents("./tours.json"); */

    /* const TOURS = <?php echo $tours; ?> */

    const TOURS = [
      {
        id: 1,
        date: '9 ноября 2019 - 23 ноября 2019',
        seatsAvailable: 8,
        seatsTotal: 15,
        duration: 14,
        priceCurrent: 4100,
        pricePrev: 13000
      },
      {
        id: 2,
        date: '28 декабря 2019 - 11 января 2020',
        seatsAvailable: 6,
        seatsTotal: 15,
        duration: 14,
        priceCurrent: 4350,
        pricePrev: 15000
      }
    ]

    function vkInit() {
      VK.Widgets.CommunityMessages("vk_community_messages", 75797052, {expanded: "0",tooltipButtonText: "Есть вопрос?",buttonType: 'blue_circle'});
    }
  </script>
  <script defer src="js/vendor.js?v={{ hash }}"></script>
  <script defer src="js/bundle.js?v={{ hash }}"></script>
  <script defer type="text/javascript" src="https://vk.com/js/api/openapi.js?161" onload="vkInit()"></script>

  <!-- Yandex.Metrika counter -->
  <!-- <script async type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  
    ym(54434125, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/54434125" style="position:absolute; left:-9999px;" alt="" /></div></noscript> -->
  <!-- /Yandex.Metrika counter -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143824454-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-143824454-1');
  </script> -->
</body>
</html>