.developer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__link {
    display: inline-block;
    margin-left: 1rem;
    line-height: 1;
  }

  &__logo {
    font-size: 4.8em;
    width: 1em;
    height: 0.54em;
  }
}