.media {
  &__icon {
    color: var(--accent);
    font-size: 2.125rem;
  }

  &__title {
    margin-top: 0.8em;
    font-size: var(--fs-default);
    line-height: 1.5;
  }

  &__desc {
    @extend .hyphens;

    margin-top: 0.8em;
  }

  & + .media {
    margin-top: 2.5rem;
  }

  &--center {
    text-align: center;

    .media__desc {
      hyphens: none;
      text-align: center;
    }
  }

  &--square-icon {
    .media__icon {
      padding: 0.5rem;
      font-size: 3.125rem;
      color: var(--white);
      background-color: var(--accent);
      border-radius: 0.4rem;
    }
  }
}