.menu {
  @extend .reset-list;

  --fs-nav: 1.375rem;
  font-size: var(--fs-nav);
  font-family: var(--ff-secondary);
  color: var(--text-black);

  &__link {
    @extend .link;
  }

  @media(--tablet) {
    --fs-nav: 1.5rem;
    line-height: 2.5;
    text-align: center;
  }

  @media(--laptop) {
    --fs-nav: var(--fs-sm);
    display: flex;
    margin: 0 -0.75rem;

    &__item {
      padding: 0.75rem;
    }
  }
}