.price {
  font-family: var(--ff-secondary);

  &__current {
    font-size: var(--fs-xl);
    color: var(--text-black);
    line-height: 2.15;
    font-weight: normal;
  }

  &__prev {
    margin-left: 0.4rem;
  }
}