.socials {

  &__list {
    @extend .reset-list;

    display: flex;
  }

  &__item {
    font-size: 2.2rem;

    & + .socials__item {
      margin-left: 0.7em;
    }
  }

  &__link {
    --socials-color: var(--accent);
    color: var(--socials-color);
    transition: color ease-out-quint 0.3s;

    @media (--laptop) {
      &:hover,
      &:focus {
        --socials-color: var(--accent-darker);
      }
    }
  }

  &__icon {

  }

}