.tabs {
  &__content {
    margin-top: 2rem;
  }

  @media(--laptop) {
    &__content {
      margin-top: 1.5rem;
    }
  }
}

.tabs-nav {
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 -1.25rem;
  padding: 0 1.25rem;

  &__list {
    @extend .reset-list;

    min-width: 100%;
    flex: 0 0 auto;
    --tabs-border: var(--bc-default);
    border-bottom: 2px solid var(--tabs-border);

    &:after {
      content: '';
      display: block;
      flex: 0 0 auto;
      width: 2rem;
      height: 2rem;
    }

    display: flex;
  }

  &__item {
    flex: 0 0 auto;

    & + .tabs-nav__item {
      margin-left: 0.9rem;
    }
  }

  &__link {
    @extend .link;

    display: block;
    --color-link: var(--text-primary-lighten);
    --tabs-border: transparent;
    margin-bottom: -2px;

    padding: 0 0.9rem;
    font-family: var(--ff-secondary);
    line-height: 2.4;
    border-bottom: 2px solid var(--tabs-border);
    text-transform: uppercase;

    &.js-active {
      --color-link: var(--text-primary);
      --tabs-border: var(--accent);
    }
  }

  @media(--tablet) {
    margin: 0 -2.5rem;
    padding: 0 2.5rem;
  }

  @media(--laptop) {
    margin: 0;
    padding: 0;

    &__list {
      &:after {
        content: none;
      }
    }

    &__item {
      & + .tabs-nav__item {
        margin-left: 0;
      }
    }
  }

  @media(--desktop) {
    &__item {
      & + .tabs-nav__item {
        margin-left: 0.9rem;
      }
    }
  }
}

.tab-pane {
  &__pictures {
    display: flex;
    overflow-x: scroll;
    margin: 0 -1.25rem;
    padding: 0 1.25rem;
    -webkit-overflow-scrolling: touch;
  }

  &__picture-wrap {
    & + .tab-pane__picture-wrap {
      margin-left: 0.4rem;
    }
  }

  &__img {
    display: flex;
    width: auto;
    height: 200px;
  }

  &__content {
    margin-top: 2rem;

    & > .heading {
      font-size: var(--fs-h4);
      line-height: 1.5;
    }

    & > p {
      @extend .hyphens;
      margin-top: 0.5rem;

      &:first-child {
        margin-top: 0;
      }
    }

    b {
      font-family: var(--ff-secondary);
      font-weight: normal;
    }
  }

  &__advice {
    margin-top: 2rem;
    
    .heading {
      line-height: 2;
    }
  }

  @media(--laptop) {
    &__inner {
      display: flex;

      &.panel > .tab-pane__content {
        padding: 1.5rem 2rem;
      }
    }

    &__pictures {
      display: grid;
      grid-gap: 0.25rem;
      order: 2;
      flex: 0 0 30%;
      width: 100%;
      max-width: 21rem;
      flex-direction: column;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      overflow-y: scroll;

      &--lg {
        max-width: 23rem;
      }
    }

    &__picture-wrap {
      width: 100%;
      height: 100%;
      flex: 0 0 33%;

      & + .tab-pane__picture-wrap {
        margin-left: 0;
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__content {
      margin-top: 0;
      font-size: var(--fs-xs);

      & > p {
        margin-top: 0.25rem;
      }

      .label {
        height: 1.75em;
        padding: 0.45em 0.5em 0;
      }

      .media__desc {
        margin-top: 0.4em;
      }
    }
  }

  @media(--desktop) {
    &__pictures {
      flex: 0 0 auto;
    }
  }
}