.text-block {
  &__pic {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    height: 0;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2.9rem;
      color: var(--white);
      transform: translate(-50%,-50%);
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: rotate(8.3deg) translateY(5%);
      background-size: 100%;
      background-position: center;
      background-image: url('../img/illustrations/illustration4@1x.png');
    }
  }

  &__text {
    @extend .hyphens;
    font-size: var(--fs-md);

    & + .text-block__text {
      margin-top: 1.2rem;
    }
  }
}