html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-display: fallback;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--ff-default);

  &.js-modal-open {
    overflow: hidden;
		-webkit-overflow-scrolling: touch
  }

  &.ios-hack {
		position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

a[href^=tel] {
  text-decoration:inherit;
  color: inherit;
}