.main {
  padding-top: 6.4rem;
  padding-bottom: 5rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  @media(--tablet) {
    padding-top: 5rem;
  }
}

.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @media(--tablet) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @media(--laptop) {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
  }

  @media(--desktop) {
    max-width: 66rem;
  }
}

.section {
  margin-top: 5rem;

  &__heading {
    margin-bottom: 2.5rem;
  }

  &__action {
    margin-top: 1rem;
    --color-link: var(--accent);
    color: var(--color-link);
    font-size: 1rem;
    font-family: var(--ff-secondary);

    &-icon {
      margin-right: 0.7rem;
      flex: 0 0 auto;
      font-size: 1.75rem;
    }

    &-link {
      @extend .link;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      text-transform: none;

      span {
        text-align: left;
        line-height: 1.75;
      }

      &:hover,
      &:focus {
        --color-link: var(--accent-darker);
      }
    }
  }

  &__cover {
    margin-bottom: 2.5rem;

    &-img {
      width: 100%;
      height: auto;
    }
  }

  @media(--laptop) {
    &__action {
      &-link {
        &:hover,
        &:focus {
          --color-link: var(--accent-darker);
        }
      }
    }
  }

  @media(--desktop) {
    &__cover {
      margin-left: auto;
      margin-right: auto;
      max-width: 50rem;
    }
  }
}