
/* Slide */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* Fade */
.fade-enter-active, .fade-leave-active {
  transition: opacity ease-out-quint .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Collapse */
.collapse-enter-active, .collapse-leave-active {
  transition: height ease-out-quint .3s;
}
.collapse-enter, .collapse-leave-to {
  height: 10em;
}